[general]
transport=udp

tlsenable=yes
tlsbindaddr=0.0.0.0
tlscertfile=/etc/asterisk/ca/keys/server.pem
tlscafile=/etc/asterisk/ca/certs/ca.cert.pem

[friends_internal](!)
type=friend
host=dynamic
context=from-internal
disallow=all
allow=ulaw
transport=tls

{% for key, conf in salt['pillar.get']('asterisk:users', {}).items() -%}
[{{conf['user']}}](friends_internal)
secret={{conf['pass']}}
{% endfor %}
