[general]
transport=udp

[friends_internal](!)
type=friend
host=dynamic
context=from-internal
disallow=all
allow=ulaw
{% for key, conf in salt['pillar.get']('asterisk:users', {}).items() %}
[{{conf['user']}}](friends_internal)
secret={{conf['pass']}}
{% endfor %}
