{%- for key, conf in salt['pillar.get']('opendkim:domains', {}).items() %}
{{ conf.domainkey }}._domainkey.{{ key }} {{ key }}:{{ conf.domainkey }}:/etc/opendkim/keys/{{ key }}/{{ conf.domainkey }}.private
{%- endfor -%}
