{%- for key, conf in salt['pillar.get']('opendkim:domains', {}).items() %}
{{ conf.domainkey }}._domainkey.{{ key }} {{ key }}:{{ conf.domainkey }}:/etc/opendkim/keys/example.com/{{ conf.domainkey }}.private
{%- endfor -%}
